@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    box-sizing: border-box;
}

body {
    background-color: #f6f5f7;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;
    color: black;
}

.text-center {
    text-align: center;
}

