* {
    box-sizing: border-box;
}

/* Style the body */
body {
    --font-family: 'Playfair Display', serif;
    background-color:#ebebeb;
    padding-left: 4em;
    padding-right: 4em;
    line-height: 1.15;
}

.container-a{
    margin-bottom:5px;
    display: flex;
    position: relative;
    max-width: auto;
    color: black;
    align-content: space-evenly;
}

.item-h{
    color:black;
    position:relative;
    padding-left:5%;
    position:relative;
    padding-right:5%;
    background-color:#ead4be;opacity:0.6;
}

.item-i{
    color:black;
    position:relative;
    padding:5%;
    font-size:20px;
}

.about-section {
    margin-top:10px;
    text-align: center;
    background-color: ;
    color: black;
    font-family: FreeMono, monospace;
    align-content: space-evenly;
    position: relative;
    line-height: 1.6;
    font-size:18px;
    padding:10px;
    border-right-style: solid;
    border-left-style: solid;
    margin-bottom:15px;
    background-image: url("../images/dots.jpeg");
    background-repeat:no;
    opacity:0.3;
    padding:20px;
    margin-bottom:30px;
}
hr.new2 {
    border-top: 1px dashed black;
    width:300px;
}
.about-section h1{
    font-family: 'Courier New', monospace;
    font-size:60px;
}

.container {
    display: flex;
    color: white;
    padding-right:1%;
    font-family: Georgia, serif;
    max-width: auto;
    position: relative;
    margin: auto;
}

.item-b {
    opacity:70%;
    background-size: 100%;
    background-repeat: no-repeat;
    width:100%;
}

.item-c {
    opacity:70%;
    background-size: 100%;
    background-repeat: no-repeat;
    width:100%;
}

.center{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -220%);
}

#text{
    position: relative;
    padding: 20px;
    font-family: Georgia, serif;
}

#text1{
    position: relative;
    font-family:Lucida Sans Unicode;
}

#text2{
    position: relative;
    padding:10px;
    font-family: 'Courier New', monospace;
    line-height: 1.6;
}

#text3{
    position: relative;
    font-family: Georgia, serif;
    line-height: 1.6;
}


.item-d{
    color:black;
    position:relative;
    padding-left:5%;
    position:relative;
    padding-right:5%;
    background-color:#ead4be;opacity:0.3;
    width:100%;
    padding-top:5%;
    padding-bottom:5%;
    justify-content:center;
    max-width: auto;
}

.item-d .btn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.item-d .btn:hover {
    background-color: black;
}

.container-g{
    display: flex;
    position: relative;
    color: black;
    align-content: space-evenly;
    flex-direction: row;
    flex-wrap:wrap;
    padding:2%
}


.item-e{
    flex:25%;
    opacity:90%;
    color:white;
}
.item-f{
    flex:30%;
    opacity:90%;
    color:black;
    padding-right:10%;
}

.item-g{
    flex:25%;
    opacity:70%;
    color:black;
    width:1%;
    font-family: 'Tangerine', serif;
    font-size: 25px;
    text-shadow: 4px 4px 4px #aaa;
}


/* Header/logo Title */
header {
    --background-image: url("../../images/wedding/post16-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    text-align: center;
    background-color: ;
    color: black;
}

/* Increase the font size of the heading */
header h1 {
    font-size: 40px;
    font-family: FreeMono, monospace;
}

header h3{
    font-family: Georgia, serif;
}


/* slideshow */

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: auto;
    position: relative;
    margin: auto;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}


/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
nav {
    background: white;
    float: right;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 90%;
}

/* Style the navigation bar links */
nav a {
    font-family: sans-serif;
    display: block;
    color: #666666;
    background: white;
    min-width: 80px;
    text-align: center;
}


/* Right-aligned link */
nav a.right {
    float: right;
}

/* Change color on hover */
nav a:hover {
    background-color: #666;
    color: black;
}

/* Active/current link */
nav a.active {
    background-color: #333;
    color: white;
}


/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
ul {
    margin: 1px;
    float: right;
    list-style-type: none;
    text-decoration: none;
    overflow: hidden;
    color: #6b6764;

}
li {
    float: left;
    font-size: 0.5rem;
}

li a, .dropbtn {
    display: inline-block;
    color: #6b6764;
    text-decoration: none;
    padding: 14px 16px;
    max-width: 80px;
}
li a.active{
    color: #ffffff;
}

li a:hover, .dropdown:hover .dropbtn {
    color: #666666;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ebebeb;
    max-width: 16px;
    min-width: 16px;
}

.dropdown-content a {
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #ebebeb;

}

.dropdown:hover .dropdown-content {
    display: block;
}
/* Column container */

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    -ms-flex: 20%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
        font-size:2px;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}


div.gallery {
    --border: 1px solid #ccc;
}


div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    text-align: center;
    background-color: ;
    color: black;
}

h4{
    color:black;
    text-align:center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    color: black;
}

.fa-instagram {
    color: black;
}

.fa-pinterest {
    color: black;
}

/* Post */
* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 1%;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: auto) {
    .column {
        width: auto;
    }
}
.container-p{
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -220%);
}
/* --------*/

/* pricing */
/* Pricing box main display settings  */

.pricing-box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h5,h6, .pricing-box-container p{
    text-align: center;
}
h5{
}

.pricing-box {
    flex: 1;
    padding: 0 15px 15px;
    margin: 2%;
    min-width: 200px;
    max-width: 250px;
    border-color: transparent;
    z-index: 1;
}
.pricing-box:nth-child(4n+1) {
    background-image: linear-gradient(#ffffff, #e5b2a0) ;
}

.pricing-box:nth-child(4n+2), .price:nth-child(4n+2){
    background-image: linear-gradient(#ffffff, #e5e3e3);
}
.pricing-box:nth-child(4n+3) {
    background-image: linear-gradient(#ffffff, #fdddaf);
}
.pricing-box:nth-child(4n+4) {
    background-image: linear-gradient(#ffffff, #f8cecd);
}
.pricing-box h5 {
    text-transform: uppercase;
}
.pricing-box h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
}

.price {
    margin: 24px 0;
    font-size: 36px;
    font-weight: 900;
    color: black;
}

.price sub, .price sup {
    font-size: 16px;
    font-weight: 100;
}

.features-list {
    padding: 0;
    list-style-type: none;
}

.features-list li {
    font-weight: 100;
    padding: 12px 0;
}

.features-list li:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-primary:hover {
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
    transform: translateY(-3px);
}

.pricing-box-bg-image {
    background-size: cover;
    background-position: center center;
    color: #ffffff;
}

.pricing-box-bg-image .features-list li {
    border-bottom-color: rgba(255, 255, 255, 1);
}

.pricing-box-bg-image .btn-primary {
    background-color: #ffffff;
    color: #000;
}
