* {
    box-sizing: border-box;
}

/* Style the body */
body {
    --font-family: 'Playfair Display', serif;
    background-color:#ebebeb;
    padding-left: 4em;
    padding-right: 4em;
    line-height: 1.15;
}

/* Navigtion */

.topnav {
  overflow: hidden;
  background-color: transparent;
}

.topnav a {
  float: right;
  display: block;
  color: #6b6764;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: transparent;
  color: #6b6764;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: #6b6764;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #ebebeb;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}


/* Header/logo Title */
header {
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    text-align: center;
    color: black;
}

/* Header/Blog Title */
.header {
  padding: 10px;
  font-size: 25px;
  text-align: center;
  background-color:#ead4be;
	opacity:0.3;
}

#text{
    position: relative;
    padding: 20px;
    font-family: Georgia, serif;
}

#text1{
    position: relative;
    font-family:Lucida Sans Unicode;
}

#text2{
    position: relative;
    padding:10px;
    font-family: 'Courier New', monospace;
    line-height: 1.6;
}

#text3{
    position: relative;
    font-family: Georgia, serif;
    line-height: 1.6;
	 color:black;
    text-align:center;
}


/* Increase the font size of the heading */
header h1 {
    font-size: 40px;
    font-family: FreeMono, monospace;
}

header h3{
    font-family: Georgia, serif;
}

/
/* slideshow */

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: auto;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* --------*/
.about-section {
    margin-top:10px;
    text-align: center;
    background-color: ;
    color: black;
    font-family: FreeMono, monospace;
    align-content: space-evenly;
    position: relative;
    line-height: 1.6;
    font-size:18px;
    padding:10px;
    border-right-style: solid;
    border-left-style: solid;
    margin-bottom:15px;
    background-image: url("../images/dots.jpeg");
    background-repeat:no;
    opacity:0.3;
    padding:2%;
    margin-bottom:30px;
}
hr.new2 {
    border-top: 1px dashed black;
    width:30%;
}
.about-section h1{
    font-family: 'Courier New', monospace;
    font-size:60px;
}


.about{
	margin-top:10px;
    text-align: center;
    color: black;
    font-family: FreeMono, monospace;
	align-content: space-evenly;
     position: relative;
	  line-height: 1.6;
	  font-size:18px;
	  border-right-style: solid;
	  border-left-style: solid;
	  margin-bottom:15px;
	   background-repeat:no;
	   opacity:0.3;
	   padding:20px;
	   margin-bottom:30px;
}
.about h1{
	 font-family: 'Courier New', monospace;
	 font-size:60px;
}


/* --------*/

.container{
    padding:2%;
    display: flex;
    position: relative;
    max-width: auto;
}

.item-h{
    position:relative;
    padding-left:5%;
    padding-right:5%;
    background-color:#ead4be;
	opacity:0.6;
	color: black;
}

.item-i{
    position:relative;
    padding:5%;
    font-size:20px;
	color: black;
}

.item-b {
    opacity:70%;
    background-size: 100%;
    width:100%;
	color:white;
}

.item-c {
    opacity:70%;
    background-size: 100%;
    width:100%;
	color:white;
}

.item-b .btn {
  position: relative;
  top:-10%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  color: white;
  font-size: 16px;
  padding: 12px 28px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.item-c .btn {
  position: relative;
  top:-10%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: transparent;
  color: #ebebeb;
  font-size: 16px;
  padding: 12px 28px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.container .btn:hover {
  background-color: black;
}

/* ---POST-----*/

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.column-a {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* full column */
.fullcolumn {
  float: left;
  width: 100%;
  padding-left: 20px;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

/* Add a card effect for articles */
.card-a {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
   text-align:center;
}
.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: #6b6764;
  background-color: #ebebeb;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
  color:white;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* -----Conatct section---*/
.item-d{
    color:black;
    position:relative;
	padding-top:5%;
    padding-left:5%;
    position:relative;
    padding-right:5%;
    background-color:#ead4be;
	opacity:0.3;
    width:100%;
    padding-top:5%;
    padding-bottom:5%;
    justify-content:center;
    max-width: auto;
}

.item-d .btn {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.item-d .btn:hover {
    background-color: black;
}

/* --------*/


div.gallery {
    --border: 1px solid #ccc;
}


div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    text-align: center;
    background-color: ;
    color: black;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    color: black;
}

.fa-instagram {
    color: black;
}

.fa-pinterest {
    color: black;
}

/* --------*/

/* pricing */
/* Pricing box main display settings  */

.pricing-box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h5,h6, .pricing-box-container p{
    text-align: center;
}
h5{
}

.pricing-box {
    flex: 1;
    padding: 0 15px 15px;
    margin: 2%;
    min-width: 200px;
    max-width: 250px;
    border-color: transparent;
    z-index: 1;
}
.pricing-box:nth-child(4n+1) {
    background-image: linear-gradient(#ffffff, #e5b2a0) ;
}

.pricing-box:nth-child(4n+2), .price:nth-child(4n+2){
    background-image: linear-gradient(#ffffff, #e5e3e3);
}
.pricing-box:nth-child(4n+3) {
    background-image: linear-gradient(#ffffff, #fdddaf);
}
.pricing-box:nth-child(4n+4) {
    background-image: linear-gradient(#ffffff, #f8cecd);
}
.pricing-box h5 {
    text-transform: uppercase;
}
.pricing-box h6 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
}

.price {
    margin: 24px 0;
    font-size: 36px;
    font-weight: 900;
    color: black;
}

.price sub, .price sup {
    font-size: 16px;
    font-weight: 100;
}

.features-list {
    padding: 0;
    list-style-type: none;
}

.features-list li {
    font-weight: 100;
    padding: 12px 0;
}

.features-list li:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.btn-primary:hover {
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
    transform: translateY(-3px);
}

.pricing-box-bg-image {
    background-size: cover;
    background-position: center center;
    color: #ffffff;
}

.pricing-box-bg-image .features-list li {
    border-bottom-color: rgba(255, 255, 255, 1);
}

.pricing-box-bg-image .btn-primary {
    background-color: #ffffff;
    color: #000;
}
.inquiry-main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding: 2px;
    margin: 2px;
}
.inquiry-form{
    padding-left: 5%;
    padding-right: 0;
    margin-right: 0;
    justify-content: right;
    flex-direction: column;
    width: 40%;
    height: 100%;
}
.inquiry-img img{
    align-content: flex-start;
    width: 26rem;
    height: 100%;
    justify-content: left;
}
@media screen and (min-width: 1000px) {
.inquiry-img img {width: 40rem}
}
input, textarea{
    box-shadow: none !important;
    border: none;
    width: 100%;
    border-bottom: black solid 1px;
    background-color: inherit;
    text-align: left;
}

.inquiry-main button {
    background-color: inherit;
    border: solid darkgray 1px;
}
.copyright {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: transparent;
   color: #6b6764;
   text-align: center;
}