* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: 'Playfair Display', serif;
}

.item-b {
  grid-column: 1/6;
  grid-row: 1;
  background-image: url("../../images/wedding/post04.jpg");
  opacity: 80%;
  background-size: 100%;
  background-repeat: no-repeat;
  border-top: solid #000000 2px;
  border-left: solid #000000 2px;
  border-bottom: solid #000000 2px;
  border-top-left-radius: 2%;
  padding: 20px;
}

.item-c {
  grid-column: 6/11;
  grid-row: 1;
  background-image: url("../../images/wedding/post06.jpg");
  opacity: 80%;
  background-size: 100%;
  background-repeat: no-repeat;
  border-top-right-radius: 2%;
  border: solid #000000 2px;
}
.item-d {
  grid-column: 1/4;
  grid-row: 2;
  background-image: url("../../images/wedding/post11.jpg");
  opacity: 80%;
  background-repeat: no-repeat;
  border-bottom: solid #000000 2px;
  border-left: solid #000000 2px;
  border-right: solid #000000 2px;
  border-bottom-left-radius: 2%;
}
.item-e {
  grid-column: 4/11;
  grid-row: 2;
  background-image: url("../../images/wedding/post09.jpg");
  overflow: hidden;
  opacity: 80%;
  background-size: 100%;
  background-repeat: no-repeat;
  border-right: solid #000000 2px;
  border-bottom: solid #000000 2px;
  border-bottom-right-radius: 2%;
}

.container {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 400px 600px;
}

.overlay {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: content-box;
  background: rgba(220, 214, 214, 0.0);
  border-radius: 8px;
  filter: blur(0.1rem);
}

.overlay:hover{
  filter: blur(0.0rem);
  background: rgba(220, 214, 214, 0.6);
}
/* Header/logo Title */
header {
  background-image: url("../../images/wedding/post16-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  text-align: center;
  background-color: pink;
  color: white;
}

/* Increase the font size of the heading */
header h1 {
  font-size: 40px;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
nav {
    margin-top: 5px;
  overflow: hidden;
  background-color: #666;
    opacity: 0.9;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/* Style the navigation bar links */
nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


/* Right-aligned link */
nav a.right {
  float: right;
}

/* Change color on hover */
nav a:hover {
  background-color: #666;
  color: black;
}

/* Active/current link */
nav a.active {
  background-color: #333;
  color: white;
}

/* Column container */

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 20%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}



/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 60px;
}

/** footer **/
footer {
    background-color: #282828;
    width: 100%;
}

.menu-footer {
color: white;
  /* Grid styles */
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  column-gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.copyright {
    text-align: center;
    color: white;
    font-size: 1rem;
    padding: 2rem;
}

.menu-footer-item > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
.menu-footer-item> ul > li {
    padding: 1rem 0 1rem 0;
  }
  
.menu-footer-item > ul > li > a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    float: left;
}

.menu-footer-item > ul > li > a:hover {

}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

/* Portfolio styling 

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

/* Blog styling 

* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
